In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Data Overview
The California Department of Education has collected Graduation rate and outcome data that we believe will be invaluable for the purpose of investigating our hypothesis. This data is available per cohort over the duration of their high school career. For example, datasets for 2016-2017 captures data related to the high school cohort that started 9th grade in 2013-2014 and were slated to graduate 2016-2017.

For purpose of our analysis, we will explore the Adjusted Cohort GraduationRate (ACGR) and Outcome Data for 2016-2017, 2017-2018, 2018-2019. Per data source, this data contains multiple levels of aggregation and disaggregation at multiple levels reporting categories.

Also, to protect student privacy, data has been suppressed in instances where * is represented in a file - largely because the cohort size is 10 or less. Also, in instances where a race/ethinicity group is suppressed due to aforementioned, all data in that cluster is not reported for other race/ethnic groups.

#### Data Source
This data is publicly available in .txt format at https://www.cde.ca.gov/ds/sd/sd/filesacgr.asp with a tab delimiters. Data for respective years were downloaded to local destination from site using command line below (skipped checking for ceertificate since a secure connection could not be established and it was blocking access to data):
* wget --no-check-certificate https://www3.cde.ca.gov/demo-downloads/acgr/cohort1617.txt 
* wget --no-check-certificate https://www3.cde.ca.gov/demo-downloads/acgr/cohort1718.txt 
* wget --no-check-certificate https://www3.cde.ca.gov/demo-downloads/acgr/cohort1819.txt

In [2]:
pwd

'/home/jovyan/work'

#### Data Transformation

In [3]:
#Load data as a DataFrame, convert from .txt to .csv and assign to a variable according to their respective years
GR1617 = pd.read_csv("ProjectData/Graduation_Rate1617.txt",delimiter = "\t")
GR1718 = pd.read_csv("ProjectData/Graduation_Rate1718.txt",delimiter = "\t")
GR1819 = pd.read_csv("ProjectData/Graduation_Rate1819.txt",delimiter = "\t")

A quick look at the data shows very few null elements. There is consistency across which columns have null data as __DistrictCode, SchoolCode, DistrictName__ and __SchoolName__ seem to be the only fields with NULL data across the 3 datasets. Thus, the decision to leave as is and concatenate the 3 dataframes ahead of further analysis and cleaning. The underlying assumption is that the the rows missing this data are those aggregated at the State __"T"__ and County **"C"** level as it seems logical they will not have either Disctrict or School code and/or name. If in the course of cleaning/further analysis this changes, we will update assumption.

Our data source is explicit about having surpressed data using __*__. These do not trasnlate to null as python still reads them as having values. Given this is only specific to categorical variable and are not believed to be able to skew the data in anyway (as they are cross reported under another category), we will retain this entries for now.

In [4]:
print(GR1617.info())
GR1617

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195869 entries, 0 to 195868
Data columns (total 34 columns):
AcademicYear                               195869 non-null object
AggregateLevel                             195869 non-null object
CountyCode                                 195869 non-null int64
DistrictCode                               187926 non-null float64
SchoolCode                                 187926 non-null float64
CountyName                                 195869 non-null object
DistrictName                               187926 non-null object
SchoolName                                 187926 non-null object
CharterSchool                              195869 non-null object
DASS                                       195869 non-null object
ReportingCategory                          195869 non-null object
CohortStudents                             195869 non-null object
Regular HS Diploma Graduates (Count)       195869 non-null object
Regular HS Diploma Graduates (Rate)        195869 non-null object
Met UC/CSU Grad Req's (Count)              195869 non-null object
Met UC/CSU Grad Req's (Rate)               195869 non-null object
Seal of Biliteracy (Count)                 195869 non-null object
Seal of Biliteracy (Rate)                  195869 non-null object
Golden State Seal Merit Diploma (Count)    195869 non-null object
Golden State Seal Merit Diploma (Rate      195869 non-null object
CHSPE Completer (Count)                    195869 non-null object
CHSPE Completer (Rate)                     195869 non-null object
Adult Ed. HS Diploma (Count)               195869 non-null object
Adult Ed. HS Diploma (Rate)                195869 non-null object
SPED Certificate (Count)                   195869 non-null object
SPED Certificate (Rate)                    195869 non-null object
GED Completer (Count)                      195869 non-null object
GED Completer (Rate)                       195869 non-null object
Other Transfer (Count)                     195869 non-null object
Other Transfer (Rate)                      195869 non-null object
Dropout (Count)                            195869 non-null object
Dropout (Rate)                             195869 non-null object
Still Enrolled (Count)                     195869 non-null object
Still Enrolled (Rate)                      195869 non-null object
dtypes: float64(2), int64(1), object(31)
memory usage: 50.8+ MB
None

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,33,0.4,3,0.0,48,0.6,506,6.3,303,3.8
1,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,57,0.7,3,0.0,70,0.8,836,9.6,504,5.8
2,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,13,0.4,0,0.0,18,0.5,113,3.1,103,2.8
3,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,17,0.8,0,0.0,19,0.9,291,13.9,194,9.3
4,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,4,6.5,15,24.2,7,11.3
5,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,7,0.7,0,0.0,3,0.3,29,2.9,19,1.9
6,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,27,0.5,3,0.1,51,0.9,640,11.7,363,6.6
7,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,3,6.7,5,11.1,3,6.7
8,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,1,0.5,0,0.0,2,0.9,27,12.7,11,5.2
9,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,1,0.2,0,0.0,1,0.2,36,5.6,18,2.8
10,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,24,0.7,3,0.1,17,0.5,186,5.2,89,2.5
11,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,90,4.5,0,0.0,16,0.8,247,12.4,293,14.8
12,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,20,0.8,0,0.0,38,1.5,411,16.6,280,11.3
13,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,1,0.5,0,0.0,1,0.5,76,35.5,39,18.2
14,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,5,0.7,0,0.0,15,2.2,155,23.0,89,13.2
15,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,1,1.1,9,9.8,3,3.3
16,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,58,0.6,3,0.0,84,0.9,1071,11.7,696,7.6
17,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,90,0.5,6,0.0,118,0.7,1342,8.0,807,4.8
18,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,33,0.5,1,0.0,35,0.5,320,4.4,172,2.4
19,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,57,0.8,2,0.0,45,0.6,496,6.7,293,3.9
20,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,13,0.4,0,0.0,15,0.4,83,2.4,83,2.4
21,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,17,1.1,0,0.0,15,0.9,154,9.6,76,4.7
22,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,0,0.0,0,0.0,4,7.8,12,23.5,7,13.7
23,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,7,0.7,0,0.0,2,0.2,19,2.0,13,1.4
24,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,27,0.6,1,0.0,30,0.7,374,8.3,204,4.5
25,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,0,0.0,0,0.0,2,4.9,4,9.8,3,7.3
26,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,1,0.6,0,0.0,1,0.6,14,7.9,6,3.4
27,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,1,0.2,0,0.0,0,0.0,24,4.1,9,1.5
28,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,24,0.7,2,0.1,11,0.3,132,4.0,64,1.9
29,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,90,5.4,0,0.0,10,0.6,158,9.6,210,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195839,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,51,0.3,13,0.1,224,1.2,1900,10.0,1088,5.7
195840,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,7,2.7,59,22.6,29,11.1
195841,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,0,0.0,14,11.5,9,7.4
195842,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,2,0.1,4,0.3,12,0.9,137,10.1,86,6.3
195843,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,21,0.2,19,0.2,135,1.2,1195,10.7,584,5.2
195844,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,92,2.3,11,0.3,61,1.6,557,14.2,434,11.0
195845,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,36,0.9,1,0.0,89,2.1,761,18.2,438,10.5
195846,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,4,1.2,1,0.3,6,1.7,93,27.1,39,11.4
195847,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,6,0.3,2,0.1,49,2.8,328,18.5,232,13.1
195848,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,1,0.7,0,0.0,2,1.4,14,9.7,19,13.2
195849,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,69,0.3,19,0.1,361,1.3,3074,11.3,1782,6.6
195850,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,92,0.2,41,0.1,433,1.1,3910,10.4,2098,5.6
195851,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,2,0.0,76,0.6,394,3.2,4784,39.2,3889,31.8
195852,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,3,0.0,108,0.7,500,3.4,7769,52.3,4245,28.6
195853,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,6,1.5,14,3.4,167,41.1,128,31.5
195854,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,11,0.3,75,2.3,1670,51.3,985,30.3
195855,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,6,0.2,86,3.1,1790,64.7,705,25.5
195856,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,1,0.5,6,3.2,75,40.1,60,32.1
195857,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,4,0.0,88,0.6,452,3.2,6421,45.2,4315,30.4
195858,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,3,0.5,17,3.1,219,39.7,248,45.0
195859,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,1,0.6,5,3.1,80,50.3,42,26.4
195860,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,4,0.4,39,4.2,335,36.1,353,38.0
195861,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,64,1.4,200,4.3,1796,38.9,1298,28.1
195862,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,5,0.2,22,0.8,148,5.1,1013,34.9,1213,41.8
195863,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,20,0.4,133,2.5,2571,49.2,1789,34.2
195864,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,1,0.1,25,2.7,396,42.4,323,34.5
195865,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,21,0.6,133,3.8,1585,45.1,1156,32.9
195866,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,0,0.0,2,1.1,64,33.9,63,33.3
195867,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,5,0.0,145,0.7,810,3.8,8417,39.5,7486,35.1
195868,2016-17,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,5,0.0,184,0.7,894,3.3,12553,46.4,8134,30.0

In [5]:
# GR1617.describe(include = ['O'])

In [6]:
print(GR1718.info())
GR1718

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202115 entries, 0 to 202114
Data columns (total 34 columns):
AcademicYear                               202115 non-null object
AggregateLevel                             202115 non-null object
CountyCode                                 202115 non-null int64
DistrictCode                               194221 non-null float64
SchoolCode                                 194221 non-null float64
CountyName                                 202115 non-null object
DistrictName                               194221 non-null object
SchoolName                                 194221 non-null object
CharterSchool                              202115 non-null object
DASS                                       202115 non-null object
ReportingCategory                          202115 non-null object
CohortStudents                             202115 non-null object
Regular HS Diploma Graduates (Count)       202115 non-null object
Regular HS Diploma Graduates (Rate)        202115 non-null object
Met UC/CSU Grad Req's (Count)              202115 non-null object
Met UC/CSU Grad Req's (Rate)               202115 non-null object
Seal of Biliteracy (Count)                 202115 non-null object
Seal of Biliteracy (Rate)                  202115 non-null object
Golden State Seal Merit Diploma (Count)    202115 non-null object
Golden State Seal Merit Diploma (Rate      202115 non-null object
CHSPE Completer (Count)                    202115 non-null object
CHSPE Completer (Rate)                     202115 non-null object
Adult Ed. HS Diploma (Count)               202115 non-null object
Adult Ed. HS Diploma (Rate)                202115 non-null object
SPED Certificate (Count)                   202115 non-null object
SPED Certificate (Rate)                    202115 non-null object
GED Completer (Count)                      202115 non-null object
GED Completer (Rate)                       202115 non-null object
Other Transfer (Count)                     202115 non-null object
Other Transfer (Rate)                      202115 non-null object
Dropout (Count)                            202115 non-null object
Dropout (Rate)                             202115 non-null object
Still Enrolled (Count)                     202115 non-null object
Still Enrolled (Rate)                      202115 non-null object
dtypes: float64(2), int64(1), object(31)
memory usage: 52.4+ MB
None

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,51,0.6,3,0.0,55,0.6,472,5.5,274,3.2
1,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,90,1.0,7,0.1,74,0.8,828,9.2,368,4.1
2,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,28,0.7,1,0.0,12,0.3,104,2.5,66,1.6
3,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,30,1.5,2,0.1,11,0.6,219,11.2,148,7.6
4,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,1,1.4,14,19.2,11,15.1
5,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,7,0.7,2,0.2,7,0.7,34,3.3,21,2.0
6,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,43,0.7,3,0.1,76,1.3,708,12.2,311,5.3
7,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,0,0.0,6,13.0,4,8.7
8,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,2,1.0,0,0.0,0,0.0,18,9.3,7,3.6
9,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,2,0.3,0,0.0,4,0.6,39,5.7,25,3.7
10,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,29,0.8,2,0.1,18,0.5,158,4.5,49,1.4
11,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,141,7.1,0,0.0,16,0.8,215,10.8,206,10.4
12,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,46,1.7,0,0.0,41,1.5,433,16.3,248,9.3
13,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,3,1.6,0,0.0,4,2.1,67,35.6,29,15.4
14,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,4,0.6,1,0.2,14,2.2,148,22.9,74,11.4
15,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,0,0.0,3,3.3,7,7.6
16,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,99,1.0,6,0.1,101,1.0,1052,10.8,540,5.6
17,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,141,0.8,10,0.1,129,0.7,1300,7.4,642,3.7
18,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,51,0.7,2,0.0,43,0.6,306,3.9,151,1.9
19,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,90,1.1,4,0.1,39,0.5,527,6.7,188,2.4
20,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,28,0.7,1,0.0,9,0.2,78,1.9,53,1.3
21,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,30,2.0,1,0.1,8,0.5,105,6.9,57,3.7
22,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,0,0.0,0,0.0,1,1.9,9,17.3,6,11.5
23,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,7,0.7,2,0.2,5,0.5,25,2.5,17,1.7
24,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,43,0.9,2,0.0,46,1.0,454,9.4,153,3.2
25,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,0,0.0,0,0.0,0,0.0,4,10.3,1,2.6
26,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,2,1.2,0,0.0,0,0.0,11,6.4,1,0.6
27,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,2,0.3,0,0.0,2,0.3,26,4.2,16,2.6
28,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,29,0.9,0,0.0,11,0.3,121,3.7,35,1.1
29,2017-18,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,141,8.5,0,0.0,10,0.6,132,7.9,140,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202085,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,69,0.3,10,0.1,149,0.7,1687,8.4,1149,5.8
202086,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,3,1.1,48,17.6,15,5.5
202087,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,0,0.0,26,14.9,12,6.9
202088,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,2,0.1,4,0.3,12,0.8,173,11.7,93,6.3
202089,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,18,0.2,16,0.1,101,0.9,1483,12.8,558,4.8
202090,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,86,2.0,2,0.0,45,1.1,541,12.7,499,11.7
202091,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,31,0.7,2,0.0,62,1.5,606,14.6,446,10.7
202092,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,6,1.6,0,0.0,5,1.3,84,22.6,58,15.6
202093,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,9,0.6,1,0.1,18,1.3,272,18.9,191,13.3
202094,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,0,0.0,19,14.4,10,7.6
202095,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,87,0.3,20,0.1,244,0.9,2946,10.4,1783,6.3
202096,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,106,0.3,36,0.1,301,0.8,4019,10.2,2109,5.4
202097,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,6,0.0,69,0.5,362,2.7,5701,42.9,3547,26.7
202098,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,4,0.0,107,0.6,454,2.7,9582,57.7,3904,23.5
202099,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,4,0.7,9,1.7,317,58.7,103,19.1
202100,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,2,0.1,9,0.3,63,1.8,2065,57.8,881,24.7
202101,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,3,0.1,144,5.4,1578,59.0,624,23.3
202102,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,2,1.0,7,3.5,87,43.1,45,22.3
202103,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,7,0.0,102,0.6,345,2.1,8218,50.9,4218,26.1
202104,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,2,0.5,16,3.8,230,55.2,104,24.9
202105,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,0,0.0,7,4.5,93,59.6,24,15.4
202106,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,12,1.2,35,3.6,423,43.3,243,24.8
202107,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,42,0.8,190,3.6,2272,43.5,1209,23.2
202108,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,10,0.3,19,0.6,139,4.4,1153,36.1,1201,37.6
202109,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,31,0.5,149,2.5,3379,55.7,1631,26.9
202110,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,6,0.6,43,4.0,465,42.9,338,31.2
202111,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,2,0.1,20,0.6,123,3.5,1687,48.1,1030,29.4
202112,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,2,1.1,6,3.4,77,43.0,42,23.5
202113,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,8,0.0,125,0.5,748,3.2,10245,44.5,6741,29.2
202114,2017-18,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,10,0.0,176,0.6,816,2.7,15283,51.1,7451,24.9

In [7]:
print(GR1819.info())
GR1819

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198022 entries, 0 to 198021
Data columns (total 34 columns):
AcademicYear                               198022 non-null object
AggregateLevel                             198022 non-null object
CountyCode                                 198022 non-null int64
DistrictCode                               190106 non-null float64
SchoolCode                                 190106 non-null float64
CountyName                                 198022 non-null object
DistrictName                               190106 non-null object
SchoolName                                 190106 non-null object
CharterSchool                              198022 non-null object
DASS                                       198022 non-null object
ReportingCategory                          198022 non-null object
CohortStudents                             198022 non-null object
Regular HS Diploma Graduates (Count)       198022 non-null object
Regular HS Diploma Graduates (Rate)        198022 non-null object
Met UC/CSU Grad Req's (Count)              198022 non-null object
Met UC/CSU Grad Req's (Rate)               198022 non-null object
Seal of Biliteracy (Count)                 198022 non-null object
Seal of Biliteracy (Rate)                  198022 non-null object
Golden State Seal Merit Diploma (Count)    198022 non-null object
Golden State Seal Merit Diploma (Rate      198022 non-null object
CHSPE Completer (Count)                    198022 non-null object
CHSPE Completer (Rate)                     198022 non-null object
Adult Ed. HS Diploma (Count)               198022 non-null object
Adult Ed. HS Diploma (Rate)                198022 non-null object
SPED Certificate (Count)                   198022 non-null object
SPED Certificate (Rate)                    198022 non-null object
GED Completer (Count)                      198022 non-null object
GED Completer (Rate)                       198022 non-null object
Other Transfer (Count)                     198022 non-null object
Other Transfer (Rate)                      198022 non-null object
Dropout (Count)                            198022 non-null object
Dropout (Rate)                             198022 non-null object
Still Enrolled (Count)                     198022 non-null object
Still Enrolled (Rate)                      198022 non-null object
dtypes: float64(2), int64(1), object(31)
memory usage: 51.4+ MB
None

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,49,0.6,3,0.0,58,0.7,461,5.6,191,2.3
1,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,100,1.1,3,0.0,77,0.9,870,9.7,353,3.9
2,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,19,0.5,2,0.0,5,0.1,109,2.7,34,0.8
3,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,30,1.6,1,0.1,19,1.0,207,10.7,133,6.9
4,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,1,0.6,1,0.6,21,13.6,14,9.1
5,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,7,0.7,0,0.0,4,0.4,21,2.0,16,1.5
6,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,67,1.1,1,0.0,82,1.4,741,12.7,283,4.8
7,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,1,2.2,0,0.0,2,4.3,7,15.2,2,4.3
8,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,4,2.0,0,0.0,1,0.5,23,11.5,9,4.5
9,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,4,0.5,0,0.0,7,0.9,44,5.9,10,1.4
10,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,17,0.5,1,0.0,14,0.4,158,4.7,43,1.3
11,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,149,7.6,1,0.1,14,0.7,286,14.5,149,7.6
12,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,54,2.1,1,0.0,52,2.0,514,19.5,182,6.9
13,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,3,1.7,0,0.0,3,1.7,45,25.7,25,14.3
14,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,9,1.2,0,0.0,18,2.3,239,30.9,63,8.2
15,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,0,0.0,0,0.0,1,1.2,5,5.8,2,2.3
16,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,114,1.2,5,0.1,104,1.1,1083,11.4,484,5.1
17,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,...,149,0.9,6,0.0,135,0.8,1331,7.7,544,3.1
18,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,49,0.7,3,0.0,41,0.5,294,3.9,75,1.0
19,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,100,1.3,3,0.0,42,0.5,562,7.2,150,1.9
20,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,19,0.5,2,0.1,5,0.1,83,2.1,27,0.7
21,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,30,2.0,1,0.1,11,0.7,108,7.3,31,2.1
22,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,0,0.0,1,0.9,1,0.9,11,9.6,5,4.4
23,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,7,0.7,0,0.0,3,0.3,18,1.8,11,1.1
24,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,67,1.4,1,0.0,46,1.0,477,9.9,122,2.5
25,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,1,2.9,0,0.0,2,5.9,3,8.8,1,2.9
26,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,4,2.3,0,0.0,1,0.6,13,7.6,4,2.3
27,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,4,0.6,0,0.0,4,0.6,26,3.9,5,0.7
28,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,17,0.5,1,0.0,10,0.3,117,3.8,19,0.6
29,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,...,149,9.2,1,0.1,10,0.6,192,11.8,82,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197992,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,1,0.3,0,0.0,58,19.5,13,4.4
197993,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,0,0.0,13,9.4,5,3.6
197994,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,3,0.2,2,0.1,11,0.6,207,11.9,42,2.4
197995,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,19,0.2,17,0.1,87,0.8,1653,14.3,259,2.2
197996,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,118,2.5,5,0.1,49,1.0,650,13.8,291,6.2
197997,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,43,1.0,3,0.1,61,1.4,745,17.4,244,5.7
197998,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,5,1.2,0,0.0,8,1.9,107,24.8,26,6.0
197999,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,5,0.3,1,0.1,25,1.5,385,23.7,115,7.1
198000,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,0,0.0,0,0.0,1,1.0,17,16.7,5,4.9
198001,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,104,0.3,22,0.1,237,0.8,3619,12.1,887,3.0
198002,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,...,118,0.3,36,0.1,296,0.7,4767,11.6,1072,2.6
198003,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,2,0.0,96,0.7,286,2.2,5410,41.5,3407,26.1
198004,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,2,0.0,104,0.8,325,2.5,6209,47.8,3485,26.8
198005,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,*,*,*,*,*,*,*,*,*,*
198006,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,2,0.5,7,1.8,170,42.5,104,26.0
198007,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,9,0.3,36,1.4,1231,47.6,705,27.2
198008,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,3,0.1,65,3.2,1457,70.7,157,7.6
198009,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,2,1.3,2,1.3,46,29.7,48,31.0
198010,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,1,0.0,122,0.8,351,2.3,6814,43.7,4635,29.8
198011,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,1,0.4,10,4.0,118,47.2,55,22.0
198012,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,0,0.0,0,0.0,45,48.4,18,19.4
198013,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,17,1.8,23,2.5,361,38.9,248,26.8
198014,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,2,0.1,44,1.1,117,2.9,1377,34.7,924,23.3
198015,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,4,0.1,24,0.7,111,3.4,1162,35.4,1220,37.2
198016,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,26,0.4,121,2.0,3413,57.7,1424,24.1
198017,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,1,0.1,30,2.8,458,42.8,313,29.3
198018,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,26,0.7,89,2.5,1732,47.8,991,27.3
198019,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,0,0.0,1,0.5,7,3.8,75,40.3,40,21.5
198020,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,4,0.0,164,0.8,556,2.6,8887,40.9,6423,29.6
198021,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,...,4,0.0,200,0.8,611,2.3,11619,44.6,6894,26.5

In [8]:
years = [GR1617, GR1718, GR1819]
combinedGR = pd.concat(years, ignore_index=True)
#ignore_index resets the numbering of the rows
pd.set_option('max_columns', None)
#Quick view at head and tail
combinedGR.head(20).append(combinedGR.tail(20))

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Regular HS Diploma Graduates (Rate),Met UC/CSU Grad Req's (Count),Met UC/CSU Grad Req's (Rate),Seal of Biliteracy (Count),Seal of Biliteracy (Rate),Golden State Seal Merit Diploma (Count),Golden State Seal Merit Diploma (Rate,CHSPE Completer (Count),CHSPE Completer (Rate),Adult Ed. HS Diploma (Count),Adult Ed. HS Diploma (Rate),SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,GF,8039,7114,88.5,4439,62.4,989,13.9,1928,27.1,30,0.4,2,0.0,33,0.4,3,0.0,48,0.6,506,6.3,303,3.8
1,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,GM,8675,7175,82.7,3734,52.0,599,8.3,1567,21.8,28,0.3,2,0.0,57,0.7,3,0.0,70,0.8,836,9.6,504,5.8
2,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RA,3632,3376,93.0,2586,76.6,685,20.3,1570,46.5,9,0.2,0,0.0,13,0.4,0,0.0,18,0.5,113,3.1,103,2.8
3,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RB,2091,1563,74.7,589,37.7,30,1.9,112,7.2,5,0.2,2,0.1,17,0.8,0,0.0,19,0.9,291,13.9,194,9.3
4,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RD,62,35,56.5,20,57.1,1,2.9,4,11.4,1,1.6,0,0.0,0,0.0,0,0.0,4,6.5,15,24.2,7,11.3
5,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RF,993,934,94.1,548,58.7,56,6.0,278,29.8,1,0.1,0,0.0,7,0.7,0,0.0,3,0.3,29,2.9,19,1.9
6,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RH,5487,4396,80.1,1974,44.9,432,9.8,448,10.2,6,0.1,1,0.0,27,0.5,3,0.1,51,0.9,640,11.7,363,6.6
7,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RI,45,33,73.3,14,42.4,4,12.1,4,12.1,1,2.2,0,0.0,0,0.0,0,0.0,3,6.7,5,11.1,3,6.7
8,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RP,212,170,80.2,59,34.7,3,1.8,22,12.9,1,0.5,0,0.0,1,0.5,0,0.0,2,0.9,27,12.7,11,5.2
9,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RT,643,585,91.0,356,60.9,60,10.3,175,29.9,1,0.2,1,0.2,1,0.2,0,0.0,1,0.2,36,5.6,18,2.8
10,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,RW,3549,3197,90.1,2027,63.4,317,9.9,882,27.6,33,0.9,0,0.0,24,0.7,3,0.1,17,0.5,186,5.2,89,2.5
11,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,SD,1985,1329,67.0,261,19.6,19,1.4,62,4.7,10,0.5,0,0.0,90,4.5,0,0.0,16,0.8,247,12.4,293,14.8
12,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,SE,2472,1722,69.7,558,32.4,115,6.7,156,9.1,1,0.0,0,0.0,20,0.8,0,0.0,38,1.5,411,16.6,280,11.3
13,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,SF,214,97,45.3,13,13.4,1,1.0,3,3.1,0,0.0,0,0.0,1,0.5,0,0.0,1,0.5,76,35.5,39,18.2
14,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,SH,674,410,60.8,100,24.4,11,2.7,19,4.6,0,0.0,0,0.0,5,0.7,0,0.0,15,2.2,155,23.0,89,13.2
15,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,SM,92,79,85.9,29,36.7,17,21.5,11,13.9,0,0.0,0,0.0,0,0.0,0,0.0,1,1.1,9,9.8,3,3.3
16,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,SS,9185,7252,79.0,3244,44.7,507,7.0,903,12.5,18,0.2,3,0.0,58,0.6,3,0.0,84,0.9,1071,11.7,696,7.6
17,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,All,TA,16714,14289,85.5,8173,57.2,1588,11.1,3495,24.5,58,0.3,4,0.0,90,0.5,6,0.0,118,0.7,1342,8.0,807,4.8
18,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,GF,7245,6655,91.9,4404,66.2,987,14.8,1924,28.9,27,0.4,2,0.0,33,0.5,1,0.0,35,0.5,320,4.4,172,2.4
19,2016-17,C,1,NaN,NaN,Alameda,NaN,NaN,All,No,GM,7458,6539,87.7,3708,56.7,598,9.1,1565,23.9,26,0.3,0,0.0,57,0.8,2,0.0,45,0.6,496,6.7,293,3.9
595986,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,No,TA,41042,34505,84.1,21111,61.2,2913,8.4,7370,21.4,245,0.6,3,0.0,118,0.3,36,0.1,296,0.7,4767,11.6,1072,2.6
595987,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,GF,13035,3797,29.1,468,12.3,9,0.2,140,3.7,35,0.3,2,0.0,2,0.0,96,0.7,286,2.2,5410,41.5,3407,26.1
595988,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,GM,12986,2808,21.6,237,8.4,5,0.2,57,2.0,52,0.4,1,0.0,2,0.0,104,0.8,325,2.5,6209,47.8,3485,26.8
595989,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,GX,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
595990,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RA,400,115,28.8,22,19.1,0,0.0,7,6.1,2,0.5,0,0.0,0,0.0,2,0.5,7,1.8,170,42.5,104,26.0
595991,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RB,2588,603,23.3,57,9.5,0,0.0,10,1.7,2,0.1,1,0.0,1,0.0,9,0.3,36,1.4,1231,47.6,705,27.2
595992,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RD,2062,373,18.1,83,22.3,0,0.0,8,2.1,7,0.3,0,0.0,0,0.0,3,0.1,65,3.2,1457,70.7,157,7.6
595993,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RF,155,57,36.8,12,21.1,0,0.0,8,14.0,0,0.0,0,0.0,0,0.0,2,1.3,2,1.3,46,29.7,48,31.0
595994,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RH,15579,3637,23.3,365,10.0,14,0.4,79,2.2,18,0.1,1,0.0,1,0.0,122,0.8,351,2.3,6814,43.7,4635,29.8
595995,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RI,250,63,25.2,4,6.3,0,0.0,1,1.6,2,0.8,1,0.4,0,0.0,1,0.4,10,4.0,118,47.2,55,22.0
595996,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RP,93,30,32.3,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,45,48.4,18,19.4
595997,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RT,927,273,29.4,37,13.6,0,0.0,10,3.7,5,0.5,0,0.0,0,0.0,17,1.8,23,2.5,361,38.9,248,26.8
595998,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,RW,3969,1454,36.6,125,8.6,0,0.0,74,5.1,51,1.3,0,0.0,2,0.1,44,1.1,117,2.9,1377,34.7,924,23.3
595999,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,SD,3278,745,22.7,25,3.4,0,0.0,9,1.2,12,0.4,0,0.0,4,0.1,24,0.7,111,3.4,1162,35.4,1220,37.2
596000,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,SE,5920,930,15.7,66,7.1,1,0.1,14,1.5,5,0.1,1,0.0,0,0.0,26,0.4,121,2.0,3413,57.7,1424,24.1
596001,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,SF,1070,267,25.0,10,3.7,0,0.0,2,0.7,1,0.1,0,0.0,0,0.0,1,0.1,30,2.8,458,42.8,313,29.3
596002,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,SH,3627,782,21.6,52,6.6,0,0.0,13,1.7,7,0.2,0,0.0,0,0.0,26,0.7,89,2.5,1732,47.8,991,27.3
596003,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,SM,186,63,33.9,1,1.6,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,1,0.5,7,3.8,75,40.3,40,21.5
596004,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,SS,21735,5643,26.0,552,9.8,13,0.2,126,2.2,55,0.3,3,0.0,4,0.0,164,0.8,556,2.6,8887,40.9,6423,29.6
596005,2018-19,T,0,NaN,NaN,State,NaN,NaN,Yes,Yes,TA,26023,6605,25.4,705,10.7,14,0.2,197,3.0,87,0.3,3,0.0,4,0.0,200,0.8,611,2.3,11619,44.6,6894,26.5

In [9]:
combinedGR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596006 entries, 0 to 596005
Data columns (total 34 columns):
AcademicYear                               596006 non-null object
AggregateLevel                             596006 non-null object
CountyCode                                 596006 non-null int64
DistrictCode                               572253 non-null float64
SchoolCode                                 572253 non-null float64
CountyName                                 596006 non-null object
DistrictName                               572253 non-null object
SchoolName                                 572253 non-null object
CharterSchool                              596006 non-null object
DASS                                       596006 non-null object
ReportingCategory                          596006 non-null object
CohortStudents                             596006 non-null object
Regular HS Diploma Graduates (Count)       596006 non-null object
Regular HS Diploma Graduates (Rate)        596006 non-null object
Met UC/CSU Grad Req's (Count)              596006 non-null object
Met UC/CSU Grad Req's (Rate)               596006 non-null object
Seal of Biliteracy (Count)                 596006 non-null object
Seal of Biliteracy (Rate)                  596006 non-null object
Golden State Seal Merit Diploma (Count)    596006 non-null object
Golden State Seal Merit Diploma (Rate      596006 non-null object
CHSPE Completer (Count)                    596006 non-null object
CHSPE Completer (Rate)                     596006 non-null object
Adult Ed. HS Diploma (Count)               596006 non-null object
Adult Ed. HS Diploma (Rate)                596006 non-null object
SPED Certificate (Count)                   596006 non-null object
SPED Certificate (Rate)                    596006 non-null object
GED Completer (Count)                      596006 non-null object
GED Completer (Rate)                       596006 non-null object
Other Transfer (Count)                     596006 non-null object
Other Transfer (Rate)                      596006 non-null object
Dropout (Count)                            596006 non-null object
Dropout (Rate)                             596006 non-null object
Still Enrolled (Count)                     596006 non-null object
Still Enrolled (Rate)                      596006 non-null object
dtypes: float64(2), int64(1), object(31)
memory usage: 154.6+ MB

********
#### Data Description

Our combined DF has **596,005** rows and **34** columns. Below is a definition of the columns stating with the categorical variables that are basisi of aggregation and disaggregation/subset for this dataset and must be carefully selected during analysis in order to obtain an unduplicated count:

###### Categorical variables
1. **AggregateLevel**: This data is aggregated at 4 categorical levels. <font color='red'> _In order to obtain and unduplicated count, one of these levels must be chosen in analyzing this data_ </font>:
    * __T__ = State
    * __C__ = County
    * __D__ = District
    * __S__ = School
    
* __CharterSchool__: This column is indicative of whether data in that category encompasses for all schools, only charter schools or non-charter schools. <font color='red'>_In order to obtain and unduplicated count at the selected level, one of these values must be chosen in analyzing this dataset_ </font>:
     - __All__ = Includes data for __all schools__ regardless of charter status. For AggregateLevel=S, all schools are included. For Aggregate Levels T, C, and D, data for allschools are included in the aggregate.
     - __Yes__ = Includes __only data for charter schools__. For Aggregate Level=S, __only charter schools__ are included. For Aggregate Levels T, C, and D, __only data for charter schools__ are included in the aggregate.
     - __No__ = Includes __only data for non-charter schools__. For Aggregate Level=S, __only non-charter schools__ are included. For Aggregate Levels T, C, and D, __only datafor non-charter schools__ are included in the aggregate.
     
*  __DASS__: An indicator of whether data for all schools, only schools participating in theDashboard Alternative School Status Program (DASS), or only non-DASS schools are included. <font color='red'>_In order to obtain and unduplicated count at the selected level, one of these values must be chosen in analyzing this dataset_ </font>: 
    - __All__ = Includes data for __all schools regardless of DASS status__. For AggregateLevel=S, all schools are included. For Aggregate Levels T, C, and D, data for allschools are included in the aggregate.
    - __Yes__ = Includes __only data for schools participating in DASS__. For AggregateLevel=S, __only DASS schools__ are included. For Aggregate Levels T, C, and D, __only data for DASS schools__ are included in the aggregate.
    - __No__ = Includes __only data for non-DASS schools__. For Aggregate Level=S, __only data for non-DASS schools__ are included. For Aggregate Levels T, C, and D, __only data for non-DASS schools__ are included in the aggregate.
    
* __ReportingCategory__: This category helps disaggregate this data into select Race, Ethnicity, gender or program subgroup spanning 18 categories. _If not interested in exploring any of the underlisted categories, Reporting Category should be set to TA_:
    - __RB__ = African American
    - __RI__ = American Indian or Alaska Native
    - __RA__ = Asian
    - __RF__ = Filipino
    - __RH__ = Hispanic or Latino
    - __RD__ = Not Reported
    - __RP__ = Pacific Islander
    - __RT__ = Two or More Races
    - __RW__ = White
    - __GM__ = Male
    - __GF__ = Female
    - __SE__ = English Learners
    - __SD__ = Students with Disabilities
    - __SS__ = Socioeconomically Disadvantaged
    - __SM__ = Migrant
    - __SF__ = Foster
    - __SH__ = Homeless
    - __TA__ = Total
********
##### Other columns    
5. **CountyCode**: A unique two-digit code corresponding to the county.   

6. **DistrictCode**: A unique five-digit code corresponding to the district.

* __SchoolCode__: A unique seven-digit code corresponding to the school.

* __CountyName__: County name.

* __DistrictName__: Ditrict or Administrative authority name.

* __SchoolName__: School name.

* __AcademicYear__: expected year of on-time, four-year graduation from high school

* __CohortStudents__: The number of students who enter grade 9 for the first time, plus any students who transfer in later during grade 9 or the next three years. This does not included any students from the cohort who transfers out, emigrates from the country, transfers to a juvenile facility or prison, or dies during that same period.                           
* __Regular HS Diploma Graduates (Count)__ : Total number of cohort students who received the standard high school diploma from a school aligned with State education standards. <font color="green">_This is a reference columns for a lot of the other columns in  this dataset_ </font>
* __Regular HS Diploma Graduates (Rate)__: The percentage of cohort students who received the standard high school diploma.
* __Met UC/CSU Grad Req's (Count)__: Total number of cohort graduates who met all a-g requirements for admission into a UC or CSU school.
* __Met UC/CSU Grad Req's (Rate)__: The percentage of cohort graduates who met admission requirements for a UC or CSU school.
* __Seal of Biliteracy (Count)__: Total number of cohort graduates who attained a high level of proficiency in one or more languages in addition to English and earned the State Seal of Biliteracy.
* __Seal of Biliteracy (Rate)__: The percentage of cohort graduates who earned the State Seal of Biliteracy.
* __Golden State Seal Merit Diploma (Count)__: Total number of cohort graduates who earned the Golden State Seal Merit Diploma by earning a high school diploma and demonstrating mastery in at leastsix subject matter areas, including mathematics, English language arts, science,U.S. history, and other areas. 
* __Golden State Seal Merit Diploma (Rate)__: The percentage of cohort graduates who earned the Golden State Seal Merit Diploma. 
* __CHSPE Completer (Count)__: Total number of cohort students who withdrew from regular high school without receiving a regular high school diploma after passing the CA High School Proficiency Exam. 
* __CHSPE Completer (Rate)__: The percentage of cohort students who took and passed the CHSPE.
* __Adult Ed. HS Diploma (Count)__: Total number of cohort students who withdrew from regular high school without receiving a regular high school diploma, and later received documentation for completing an adult education program.
* __Adult Ed. HS Diploma (Rate)__: The percentage of cohort students who received documentation for completing an adult education program.
* __SPED Certificate (Count)__: Total number of cohort students with exceptional needs (having an IEP) who received a certificate or document of education achievement or completion.
* __SPED Certificate (Rate)__: The percentage of cohort student with exceptional needs who received a certificate or document of education achievement or completion.
* __GED Completer (Count)__: Total number of cohort students who withdrew from regular high school without receiving a regular high school diploma and has received a High School Equivalency Certificate by passing the GED exam, the TASC exam, and/or the HiSET.
* __GED Completer (Rate)__: The percentage of cohort students who received a High School Equivalency Certificate. 
* __Other Transfer (Count)__: Total number of cohort students who withdrew from regular high school without receiving a regular high school diploma and transfer to an adult education programor to community college during the cohort period. 
* __Other Transfer (Rate)__: The percentage of cohort students who transfer to an adult education program orto community college during the cohort period.
* __Dropout (Count)__: Total number of cohort students who do not graduate with a regular high school diploma, do not complete high school, and are not still enrolled as a "fifth yearsenior".
* __Dropout (Rate)__: The percentage of cohort students who do not graduate with a regular high school diploma, do not complete high school, and are not still enrolled as a "fifth yearsenior".
* __Still Enrolled (Count)__: Total number of cohort students who did not graduate high school by the end of their cohort outcome period who: are re-enrolled as a "fifth year senior" at the endof their cohort period, or who completed high school no later than mid-Septemberof the subsequent academic year.
* __Still Enrolled (Rate)__: The percentage of cohort students who did not graduate high school at the end of their cohort outcome period who either re-enrolled or completed high school nolater than mid-September of the next academic year.   

****************
*The following additional information is also shared on by CDE as added note about using the ACGR and Outcome Data Files:*

This file contains different subsets of data based on the values of different variables. If these sub-setting variables are not used properly, it is easy to end up with incorrect or duplicative data. Please refer to the following examples below as a guide for properly using these data:
* Get school-level data totals with one record per school with school totals (without studentgroup totals)
    - a. Aggregate Level = S (School)
    - b. Charter School (Y/N) = All
    - c. DASS (Y/N) = All
    - d. Reporting Category = TA
* Get school-level data totals by student group (Reporting Category) for all non-charter schools
    - a. Aggregate Level = S (School)
    - b. Charter School (Y/N) = N
    - c. DASS (Y/N) = All
    - d. Reporting Category Not equal to TA   
* Get school-level data totals by student group (Reporting Category) for all DASS schools
    - a. Aggregate Level = S (School)
    - b. Charter School (Y/N) = All
    - c. DASS (Y/N) = Y
    - d. Reporting Category Not equal to TA
* Get district-level data totals by student group (Reporting Category) for non-charter schools
    - a. Aggregate Level = D (District)
    - b. Charter School (Y/N) = N
    - c. DASS (Y/N) = All
    - d. Reporting Category Not equal to TA
* Get statewide-level data totals for charter schools that are DASS schools
    - a. Aggregate Level = T (State)
    - b. Charter School (Y/N) = Y
    - c. DASS (Y/N) = Y
    - d. Reporting Category = TA
    
*******************

### Data Cleaning
#### <font color = 'Green'> Drop Columns </font>
As seen from the data columns description above, there are some columns (Rate) that are calculated fields derived from the count columns. Given these fields do not yet serve any relevance for the purpose of our analysis and can be easily recaculated/derived, we will deem these irrelevant observations for now and drop the columns.

This action leaves us with 23 columns that are considered important for our immediate purpose as opposed to the 34 columns we started with.

In [10]:
#Drop columns using a combination of .drop and .iloc and assign remaining columns to a new DataFrame
NoRatesCombinedGR = combinedGR.drop(combinedGR.iloc[:, [13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]], axis=1)

NoRatesCombinedGR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596006 entries, 0 to 596005
Data columns (total 23 columns):
AcademicYear                               596006 non-null object
AggregateLevel                             596006 non-null object
CountyCode                                 596006 non-null int64
DistrictCode                               572253 non-null float64
SchoolCode                                 572253 non-null float64
CountyName                                 596006 non-null object
DistrictName                               572253 non-null object
SchoolName                                 572253 non-null object
CharterSchool                              596006 non-null object
DASS                                       596006 non-null object
ReportingCategory                          596006 non-null object
CohortStudents                             596006 non-null object
Regular HS Diploma Graduates (Count)       596006 non-null object
Met UC/CSU Grad Req's (Count)              596006 non-null object
Seal of Biliteracy (Count)                 596006 non-null object
Golden State Seal Merit Diploma (Count)    596006 non-null object
CHSPE Completer (Count)                    596006 non-null object
Adult Ed. HS Diploma (Count)               596006 non-null object
SPED Certificate (Count)                   596006 non-null object
GED Completer (Count)                      596006 non-null object
Other Transfer (Count)                     596006 non-null object
Dropout (Count)                            596006 non-null object
Still Enrolled (Count)                     596006 non-null object
dtypes: float64(2), int64(1), object(20)
memory usage: 104.6+ MB

In [11]:
NoRatesCombinedGR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596006 entries, 0 to 596005
Data columns (total 23 columns):
AcademicYear                               596006 non-null object
AggregateLevel                             596006 non-null object
CountyCode                                 596006 non-null int64
DistrictCode                               572253 non-null float64
SchoolCode                                 572253 non-null float64
CountyName                                 596006 non-null object
DistrictName                               572253 non-null object
SchoolName                                 572253 non-null object
CharterSchool                              596006 non-null object
DASS                                       596006 non-null object
ReportingCategory                          596006 non-null object
CohortStudents                             596006 non-null object
Regular HS Diploma Graduates (Count)       596006 non-null object
Met UC/CSU Grad Req's (Count)              596006 non-null object
Seal of Biliteracy (Count)                 596006 non-null object
Golden State Seal Merit Diploma (Count)    596006 non-null object
CHSPE Completer (Count)                    596006 non-null object
Adult Ed. HS Diploma (Count)               596006 non-null object
SPED Certificate (Count)                   596006 non-null object
GED Completer (Count)                      596006 non-null object
Other Transfer (Count)                     596006 non-null object
Dropout (Count)                            596006 non-null object
Still Enrolled (Count)                     596006 non-null object
dtypes: float64(2), int64(1), object(20)
memory usage: 104.6+ MB

#### <font color = 'Green'> Fix Structural issues and Data Types </font>
Examine the column labels and values for inconsistency that may hamper our analysis or indvertently skew outcome of our analysis - starting with the categorical variables.

In [12]:
NoRatesCombinedGR.DASS.unique()

array(['All', 'No ', 'Yes'], dtype=object)

In [13]:
#As seen above, there is a trailing space that needs to be stripped from "No  " to ensure consistency and avoid the risk of not returning any values when called without the trailing spaces
#Strip space from DASS using .str.rstrip
NoRatesCombinedGR['DASS'] = NoRatesCombinedGR['DASS'].str.rstrip()
NoRatesCombinedGR.DASS.unique()

array(['All', 'No', 'Yes'], dtype=object)

In [14]:
NoRatesCombinedGR.CharterSchool.unique()

array(['All', 'No ', 'Yes'], dtype=object)

In [15]:
#Strip space from CharterSchool using .str.rstrip
NoRatesCombinedGR['CharterSchool'] = NoRatesCombinedGR['CharterSchool'].str.rstrip()
NoRatesCombinedGR.CharterSchool.unique()

array(['All', 'No', 'Yes'], dtype=object)

In [16]:
NoRatesCombinedGR.AggregateLevel.unique()
#There is consistency in the formart of the AggregateLevel

array(['C', 'D', 'S', 'T'], dtype=object)

In [17]:
NoRatesCombinedGR.ReportingCategory.unique()
#The output below shows there is an additonal category "GX" not expected in our data so will proceed with a closer look

array(['GF', 'GM', 'RA', 'RB', 'RD', 'RF', 'RH', 'RI', 'RP', 'RT', 'RW',
       'SD', 'SE', 'SF', 'SH', 'SM', 'SS', 'TA', 'GX'], dtype=object)

In [18]:
#Isolate the rows that have entires of "GX" as ReportingCategory and add other parameters to ensure they are unduplicated
# GX = NoRatesCombinedGR.loc[(NoRatesCombinedGR['ReportingCategory']== "GX") & (NoRatesCombinedGR['AggregateLevel'] == "S") 
#                       & (NoRatesCombinedGR['CharterSchool'] == "All") & (NoRatesCombinedGR['DASS'] == "All")]

# GX

#Interestng to highlight that this cell and the next produce the same data albeit different indices. 
#Adding in comment to highlight how it can be possible to have a duplicated count.

In [19]:
#Isolate the rows that have entires of "GX" as ReportingCategory and add other parameters to ensure they are unduplicated
GX = NoRatesCombinedGR.loc[(NoRatesCombinedGR['ReportingCategory']== "GX") & (NoRatesCombinedGR['AggregateLevel'] == "S") 
                      & (NoRatesCombinedGR['CharterSchool'] != "All") & (NoRatesCombinedGR['DASS'] != "All")]

GX

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
65416,2016-17,S,7,61754.0,730044.0,Contra Costa,Mt. Diablo Unified,Northgate High,No,No,GX,*,*,*,*,*,*,*,*,*,*,*,*
483271,2018-19,S,19,64287.0,1996479.0,Los Angeles,Baldwin Park Unified,Opportunities for Learning - Baldwin Park,Yes,Yes,GX,*,*,*,*,*,*,*,*,*,*,*,*
509052,2018-19,S,19,75309.0,136648.0,Los Angeles,Acton-Agua Dulce Unified,Options for Youth-Acton,Yes,Yes,GX,*,*,*,*,*,*,*,*,*,*,*,*

From the above, we see that we have 3 entires of "GX" category across 3 schools but all their data is supressed. At this point, it can be determined these rows will add no additonal information in the course of our analysis and dropping them will not lead to loss of any valuable input since same data should be represented in the "TA" category for those schools across same years. Thus, the decision to drop.

In [20]:
#Drop the index for the GX caterories identified above and renumber the rows
NoRatesCombinedGR = NoRatesCombinedGR.drop([NoRatesCombinedGR.index[65416], NoRatesCombinedGR.index[483271], NoRatesCombinedGR.index[509052]]).reset_index(drop=True)

In [21]:
NoRatesCombinedGR['CountyCode'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58,  0])

In [22]:
#Ensuring all CountyCode are 2 digit as expected
NoRatesCombinedGR['CountyCode'] = (NoRatesCombinedGR['CountyCode']).apply(lambda x: '{0:0>2}'.format(x))
print(NoRatesCombinedGR['CountyCode'])

0         01
1         01
2         01
3         01
4         01
5         01
6         01
7         01
8         01
9         01
10        01
11        01
12        01
13        01
14        01
15        01
16        01
17        01
18        01
19        01
20        01
21        01
22        01
23        01
24        01
25        01
26        01
27        01
28        01
29        01
          ..
595973    00
595974    00
595975    00
595976    00
595977    00
595978    00
595979    00
595980    00
595981    00
595982    00
595983    00
595984    00
595985    00
595986    00
595987    00
595988    00
595989    00
595990    00
595991    00
595992    00
595993    00
595994    00
595995    00
595996    00
595997    00
595998    00
595999    00
596000    00
596001    00
596002    00
Name: CountyCode, Length: 596003, dtype: object

In [23]:
NoRatesCombinedGR['DistrictCode'].describe()

count    572250.000000
mean      62827.538770
std       16989.007069
min       10017.000000
25%       64279.000000
50%       67082.000000
75%       70524.000000
max       77222.000000
Name: DistrictCode, dtype: float64

In [24]:
NoRatesCombinedGR['DistrictCode']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
          ..
595973   NaN
595974   NaN
595975   NaN
595976   NaN
595977   NaN
595978   NaN
595979   NaN
595980   NaN
595981   NaN
595982   NaN
595983   NaN
595984   NaN
595985   NaN
595986   NaN
595987   NaN
595988   NaN
595989   NaN
595990   NaN
595991   NaN
595992   NaN
595993   NaN
595994   NaN
595995   NaN
595996   NaN
595997   NaN
595998   NaN
595999   NaN
596000   NaN
596001   NaN
596002   NaN
Name: DistrictCode, Length: 596003, dtype: float64

In [25]:
#Need to normalize the DistrictCode and SchoolCode as well

In [26]:
NoRatesCombinedGR['SchoolCode'].describe()

count    5.722500e+05
mean     1.566504e+06
std      1.867990e+06
min      0.000000e+00
25%      0.000000e+00
50%      1.360510e+05
75%      3.134657e+06
max      9.010745e+06
Name: SchoolCode, dtype: float64

###### <font color='green'> Revisiting supressed data (__*__) </font>

Attempts to convert the other columns to numeric to enable calculation on them was met with an error because of the wildcard used to surpress some data. Hence the following:

In [27]:
#A Selection of * on CohortStudents at aggregate level "S"
NoRatesCombinedGR.loc[(NoRatesCombinedGR['AggregateLevel'] == "S")
                                        & (NoRatesCombinedGR['CohortStudents'] == "*") & (NoRatesCombinedGR['CharterSchool'] != "All") 
                                          & (NoRatesCombinedGR['DASS'] != "All")]

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
55376,2016-17,S,01,10017.0,112607.0,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,No,RA,*,*,*,*,*,*,*,*,*,*,*,*
55378,2016-17,S,01,10017.0,112607.0,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,No,RD,*,*,*,*,*,*,*,*,*,*,*,*
55380,2016-17,S,01,10017.0,112607.0,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,No,RI,*,*,*,*,*,*,*,*,*,*,*,*
55381,2016-17,S,01,10017.0,112607.0,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,No,RW,*,*,*,*,*,*,*,*,*,*,*,*
55382,2016-17,S,01,10017.0,112607.0,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,No,SD,*,*,*,*,*,*,*,*,*,*,*,*
55384,2016-17,S,01,10017.0,112607.0,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,No,SH,*,*,*,*,*,*,*,*,*,*,*,*
55435,2016-17,S,01,10017.0,130401.0,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,Yes,RD,*,*,*,*,*,*,*,*,*,*,*,*
55436,2016-17,S,01,10017.0,130401.0,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,Yes,RF,*,*,*,*,*,*,*,*,*,*,*,*
55438,2016-17,S,01,10017.0,130401.0,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,Yes,RT,*,*,*,*,*,*,*,*,*,*,*,*
55439,2016-17,S,01,10017.0,130401.0,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,Yes,RW,*,*,*,*,*,*,*,*,*,*,*,*
55444,2016-17,S,01,10017.0,130401.0,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,Yes,SM,*,*,*,*,*,*,*,*,*,*,*,*
55494,2016-17,S,01,10017.0,130419.0,Alameda,Alameda County Office of Education,Alameda County Community,No,Yes,RA,*,*,*,*,*,*,*,*,*,*,*,*
55496,2016-17,S,01,10017.0,130419.0,Alameda,Alameda County Office of Education,Alameda County Community,No,Yes,RF,*,*,*,*,*,*,*,*,*,*,*,*
55498,2016-17,S,01,10017.0,130419.0,Alameda,Alameda County Office of Education,Alameda County Community,No,Yes,RP,*,*,*,*,*,*,*,*,*,*,*,*
55499,2016-17,S,01,10017.0,130419.0,Alameda,Alameda County Office of Education,Alameda County Community,No,Yes,RT,*,*,*,*,*,*,*,*,*,*,*,*
55500,2016-17,S,01,10017.0,130419.0,Alameda,Alameda County Office of Education,Alameda County Community,No,Yes,RW,*,*,*,*,*,*,*,*,*,*,*,*
55543,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,GF,*,*,*,*,*,*,*,*,*,*,*,*
55544,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,GM,*,*,*,*,*,*,*,*,*,*,*,*
55545,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,RA,*,*,*,*,*,*,*,*,*,*,*,*
55546,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,RB,*,*,*,*,*,*,*,*,*,*,*,*
55547,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,RH,*,*,*,*,*,*,*,*,*,*,*,*
55548,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,RP,*,*,*,*,*,*,*,*,*,*,*,*
55549,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,RT,*,*,*,*,*,*,*,*,*,*,*,*
55550,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,RW,*,*,*,*,*,*,*,*,*,*,*,*
55552,2016-17,S,01,31609.0,131755.0,Alameda,California School for the Blind (State Special...,California School for the Blind,No,No,SE,*,*,*,*,*,*,*,*,*,*,*,*
55602,2016-17,S,01,31617.0,131763.0,Alameda,California School for the Deaf-Fremont (State ...,California School for the Deaf-Fremont,No,No,RA,*,*,*,*,*,*,*,*,*,*,*,*
55603,2016-17,S,01,31617.0,131763.0,Alameda,California School for the Deaf-Fremont (State ...,California School for the Deaf-Fremont,No,No,RB,*,*,*,*,*,*,*,*,*,*,*,*
55604,2016-17,S,01,31617.0,131763.0,Alameda,California School for the Deaf-Fremont (State ...,California School for the Deaf-Fremont,No,No,RF,*,*,*,*,*,*,*,*,*,*,*,*
55606,2016-17,S,01,31617.0,131763.0,Alameda,California School for the Deaf-Fremont (State ...,California School for the Deaf-Fremont,No,No,RP,*,*,*,*,*,*,*,*,*,*,*,*
55607,2016-17,S,01,31617.0,131763.0,Alameda,California School for the Deaf-Fremont (State ...,California School for the Deaf-Fremont,No,No,RT,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595629,2018-19,S,58,72736.0,5830096.0,Yuba,Marysville Joint Unified,South Lindhurst Continuation High,No,Yes,RB,*,*,*,*,*,*,*,*,*,*,*,*
595630,2018-19,S,58,72736.0,5830096.0,Yuba,Marysville Joint Unified,South Lindhurst Continuation High,No,Yes,RF,*,*,*,*,*,*,*,*,*,*,*,*
595632,2018-19,S,58,72736.0,5830096.0,Yuba,Marysville Joint Unified,South Lindhurst Continuation High,No,Yes,RI,*,*,*,*,*,*,*,*,*,*,*,*
595633,2018-19,S,58,72736.0,5830096.0,Yuba,Marysville Joint Unified,South Lindhurst Continuation High,No,Yes,RT,*,*,*,*,*,*,*,*,*,*,*,*
595638,2018-19,S,58,72736.0,5830096.0,Yuba,Marysville Joint Unified,South Lindhurst Continuation High,No,Yes,SM,*,*,*,*,*,*,*,*,*,*,*,*
595676,2018-19,S,58,72736.0,5830138.0,Yuba,Marysville Joint Unified,Marysville Charter Academy for the Arts,Yes,No,RA,*,*,*,*,*,*,*,*,*,*,*,*
595677,2018-19,S,58,72736.0,5830138.0,Yuba,Marysville Joint Unified,Marysville Charter Academy for the Arts,Yes,No,RB,*,*,*,*,*,*,*,*,*,*,*,*
595679,2018-19,S,58,72736.0,5830138.0,Yuba,Marysville Joint Unified,Marysville Charter Academy for the Arts,Yes,No,RT,*,*,*,*,*,*,*,*,*,*,*,*
595681,2018-19,S,58,72736.0,5830138.0,Yuba,Marysville Joint Unified,Marysville Charter Academy for the Arts,Yes,No,SD,*,*,*,*,*,*,*,*,*,*,*,*
595682,2018-19,S,58,72736.0,5830138.0,Yuba,Marysville Joint Unified,Marysville Charter Academy for the Arts,Yes,No,SE,*,*,*,*,*,*,*,*,*,*,*,*
595739,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,RB,*,*,*,*,*,*,*,*,*,*,*,*
595740,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,RF,*,*,*,*,*,*,*,*,*,*,*,*
595743,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,RP,*,*,*,*,*,*,*,*,*,*,*,*
595744,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,RT,*,*,*,*,*,*,*,*,*,*,*,*
595748,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,SF,*,*,*,*,*,*,*,*,*,*,*,*
595749,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,SH,*,*,*,*,*,*,*,*,*,*,*,*
595750,2018-19,S,58,72736.0,5835202.0,Yuba,Marysville Joint Unified,Marysville High,No,No,SM,*,*,*,*,*,*,*,*,*,*,*,*
595765,2018-19,S,58,72769.0,1.0,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",No,No,GM,*,*,*,*,*,*,*,*,*,*,*,*
595766,2018-19,S,58,72769.0,1.0,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",No,No,RH,*,*,*,*,*,*,*,*,*,*,*,*
595767,2018-19,S,58,72769.0,1.0,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",No,No,SD,*,*,*,*,*,*,*,*,*,*,*,*
595768,2018-19,S,58,72769.0,1.0,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
595822,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,RA,*,*,*,*,*,*,*,*,*,*,*,*
595823,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,RB,*,*,*,*,*,*,*,*,*,*,*,*
595824,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,RD,*,*,*,*,*,*,*,*,*,*,*,*
595825,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,RF,*,*,*,*,*,*,*,*,*,*,*,*
595827,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,RI,*,*,*,*,*,*,*,*,*,*,*,*
595828,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,RP,*,*,*,*,*,*,*,*,*,*,*,*
595832,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,SE,*,*,*,*,*,*,*,*,*,*,*,*
595833,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,SF,*,*,*,*,*,*,*,*,*,*,*,*
595834,2018-19,S,58,72769.0,5838305.0,Yuba,Wheatland Union High,Wheatland Union High,No,No,SH,*,*,*,*,*,*,*,*,*,*,*,*

With the aggregate level set to __"S"__ and all other parameters above considered, 52,846 unduplicated rows have supressed data as shown above. Of these rows, only 1,548 fall within the subsets of ReportingCategory = "TA". This means that 97% of this surpressed data has been accounted for in the TA category. Per the note below (from the data source), it can be inferred that the 1,548 surpressed rows is due to the cohort student size being 10 or less. 

__Note__: <font color = 'red'> To protect student privacy, data are suppressed (*) on the data file if the cell size within aselected student population (cohort students) is 10 or less. Additionally, the "Not Reported"race/ethnicity is suppressed, regardless of actual cell size, if the student population for one or moreother race/ethnicity groups is suppressed. </font>

Given that the CohortStudent count is a column that might eventually become relevant in evaluating funding, we will save this to a separate DataFrame and drop the rows for now. The other 51,298 rows will be deleted with the assumption that they have been accounted for in the TA category for their respective schools.

At other levels of aggregation the suppressed value __*__ is intentionally replaced with NaN to allow for conversion of DF to numeric datatype and allow for subsequent calculations on those columns.

In [28]:
SuppressedntTA = NoRatesCombinedGR.loc[(NoRatesCombinedGR['AggregateLevel'] == "S")
                                        & (NoRatesCombinedGR['CohortStudents'] == "*") & (NoRatesCombinedGR['CharterSchool'] != "All") 
                                          & (NoRatesCombinedGR['DASS'] != "All") & (NoRatesCombinedGR['ReportingCategory'] != "TA")]

SuppressedntTA_Index = SuppressedntTA.index
SuppressedntTA_Index

Int64Index([ 55376,  55378,  55380,  55381,  55382,  55384,  55435,  55436,
             55438,  55439,
            ...
            595767, 595822, 595823, 595824, 595825, 595827, 595828, 595832,
            595833, 595834],
           dtype='int64', length=51298)

In [29]:
#This is our dataset minus the surpressed data in other Reporting Caterories except 'TA" which is believed to have been accounted for in the ReportingCategory "TA"
GRminusSur = NoRatesCombinedGR.drop(SuppressedntTA_Index).reset_index(drop=True)
GRminusSur

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
0,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GF,8039,7114,4439,989,1928,30,2,33,3,48,506,303
1,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GM,8675,7175,3734,599,1567,28,2,57,3,70,836,504
2,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RA,3632,3376,2586,685,1570,9,0,13,0,18,113,103
3,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RB,2091,1563,589,30,112,5,2,17,0,19,291,194
4,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RD,62,35,20,1,4,1,0,0,0,4,15,7
5,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RF,993,934,548,56,278,1,0,7,0,3,29,19
6,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RH,5487,4396,1974,432,448,6,1,27,3,51,640,363
7,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RI,45,33,14,4,4,1,0,0,0,3,5,3
8,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RP,212,170,59,3,22,1,0,1,0,2,27,11
9,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RT,643,585,356,60,175,1,1,1,0,1,36,18
10,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RW,3549,3197,2027,317,882,33,0,24,3,17,186,89
11,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SD,1985,1329,261,19,62,10,0,90,0,16,247,293
12,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SE,2472,1722,558,115,156,1,0,20,0,38,411,280
13,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SF,214,97,13,1,3,0,0,1,0,1,76,39
14,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SH,674,410,100,11,19,0,0,5,0,15,155,89
15,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SM,92,79,29,17,11,0,0,0,0,1,9,3
16,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SS,9185,7252,3244,507,903,18,3,58,3,84,1071,696
17,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,TA,16714,14289,8173,1588,3495,58,4,90,6,118,1342,807
18,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,GF,7245,6655,4404,987,1924,27,2,33,1,35,320,172
19,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,GM,7458,6539,3708,598,1565,26,0,57,2,45,496,293
20,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RA,3515,3312,2578,685,1569,9,0,13,0,15,83,83
21,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RB,1610,1343,586,30,112,4,1,17,0,15,154,76
22,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RD,51,28,19,1,4,0,0,0,0,4,12,7
23,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RF,936,894,546,56,278,1,0,7,0,2,19,13
24,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RH,4488,3845,1950,430,448,6,1,27,1,30,374,204
25,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RI,41,31,14,4,4,1,0,0,0,2,4,3
26,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RP,177,154,59,3,22,1,0,1,0,1,14,6
27,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RT,581,546,355,59,175,1,0,1,0,0,24,9
28,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RW,3304,3041,2005,317,877,30,0,24,2,11,132,64
29,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,SD,1652,1176,253,19,60,8,0,90,0,10,158,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544675,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RI,298,224,89,8,31,2,0,0,1,0,58,13
544676,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RP,139,120,76,6,28,1,0,0,0,0,13,5
544677,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RT,1737,1455,784,100,306,17,0,3,2,11,207,42
544678,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RW,11547,9369,4323,319,2109,141,2,19,17,87,1653,259
544679,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SD,4703,3573,1506,44,269,17,0,118,5,49,650,291
544680,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SE,4274,3176,1841,168,284,2,0,43,3,61,745,244
544681,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SF,431,285,133,9,13,0,0,5,0,8,107,26
544682,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SH,1627,1089,420,52,107,7,0,5,1,25,385,115
544683,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SM,102,79,42,10,10,0,0,0,0,1,17,5
544684,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SS,29885,24916,15262,2363,4645,98,2,104,22,237,3619,887
544685,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,TA,41042,34505,21111,2913,7370,245,3,118,36,296,4767,1072
544686,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,GF,13035,3797,468,9,140,35,2,2,96,286,5410,3407
544687,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,GM,12986,2808,237,5,57,52,1,2,104,325,6209,3485
544688,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,GX,*,*,*,*,*,*,*,*,*,*,*,*
544689,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RA,400,115,22,0,7,2,0,0,2,7,170,104
544690,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RB,2588,603,57,0,10,2,1,1,9,36,1231,705
544691,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RD,2062,373,83,0,8,7,0,0,3,65,1457,157
544692,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RF,155,57,12,0,8,0,0,0,2,2,46,48
544693,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RH,15579,3637,365,14,79,18,1,1,122,351,6814,4635
544694,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RI,250,63,4,0,1,2,1,0,1,10,118,55
544695,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RP,93,30,0,0,0,0,0,0,0,0,45,18
544696,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RT,927,273,37,0,10,5,0,0,17,23,361,248
544697,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RW,3969,1454,125,0,74,51,0,2,44,117,1377,924
544698,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SD,3278,745,25,0,9,12,0,4,24,111,1162,1220
544699,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SE,5920,930,66,1,14,5,1,0,26,121,3413,1424
544700,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SF,1070,267,10,0,2,1,0,0,1,30,458,313
544701,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SH,3627,782,52,0,13,7,0,0,26,89,1732,991
544702,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SM,186,63,1,0,0,0,0,0,1,7,75,40
544703,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SS,21735,5643,552,13,126,55,3,4,164,556,8887,6423
544704,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,TA,26023,6605,705,14,197,87,3,4,200,611,11619,6894

In [30]:
SuppressedTA = GRminusSur.loc[(GRminusSur['CohortStudents'] == "*") & (GRminusSur['ReportingCategory'] == "TA") 
                         & (GRminusSur['AggregateLevel'] == "S") & (GRminusSur['CharterSchool'] != "All")
                            & (GRminusSur['DASS'] != "All")]
SuppressedTA

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
55606,2016-17,S,01,61119.0,1.0,Alameda,Alameda Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
55962,2016-17,S,01,61127.0,1.0,Alameda,Albany City Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
55996,2016-17,S,01,61127.0,130294.0,Alameda,Albany City Unified,MacGregor High (Continuation),No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
56071,2016-17,S,01,61143.0,1.0,Alameda,Berkeley Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
56242,2016-17,S,01,61150.0,1.0,Alameda,Castro Valley Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
56325,2016-17,S,01,61150.0,133876.0,Alameda,Castro Valley Unified,Castro Valley Virtual Academy,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
56452,2016-17,S,01,61176.0,1.0,Alameda,Fremont Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
56471,2016-17,S,01,61176.0,127233.0,Alameda,Fremont Unified,Young Adult Program,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
56933,2016-17,S,01,61192.0,1.0,Alameda,Hayward Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
57345,2016-17,S,01,61200.0,1.0,Alameda,Livermore Valley Joint Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
57806,2016-17,S,01,61242.0,1.0,Alameda,New Haven Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
57893,2016-17,S,01,61242.0,110478.0,Alameda,New Haven Unified,Alternative Learning Academy at Conley-Carabal...,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
58154,2016-17,S,01,61259.0,106542.0,Alameda,Oakland Unified,Community Day High,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
58668,2016-17,S,01,61259.0,121376.0,Alameda,Oakland Unified,Home and Hospital Program,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
59037,2016-17,S,01,61259.0,132555.0,Alameda,Oakland Unified,Conservatory of Vocal/Instrumental Arts High,Yes,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
59428,2016-17,S,01,61275.0,1.0,Alameda,Piedmont City Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
59537,2016-17,S,01,61291.0,1.0,Alameda,San Leandro Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
59666,2016-17,S,01,61309.0,1.0,Alameda,San Lorenzo Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
60099,2016-17,S,01,75101.0,1.0,Alameda,Pleasanton Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
60279,2016-17,S,02,10025.0,230011.0,Alpine,Alpine County Office of Education,Alpine County Opportunity,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60295,2016-17,S,03,10033.0,330035.0,Amador,Amador County Office of Education,County Community,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60323,2016-17,S,03,10033.0,330068.0,Amador,Amador County Office of Education,Amador County Special Education,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60568,2016-17,S,04,10041.0,129817.0,Butte,Butte County Office of Education,Butte County Community School - LEAD,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60727,2016-17,S,04,10041.0,6069256.0,Butte,Butte County Office of Education,Butte County Special Education,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60752,2016-17,S,04,61408.0,430207.0,Butte,Biggs Unified,Biggs Secondary Community Day,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60822,2016-17,S,04,61424.0,111039.0,Butte,Chico Unified,Academy for Change,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
60976,2016-17,S,04,61424.0,430215.0,Butte,Chico Unified,Loma Vista,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
61284,2016-17,S,04,61515.0,1.0,Butte,Oroville Union High,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
61528,2016-17,S,04,61531.0,430108.0,Butte,Paradise Unified,Honey Run Academy Secondary,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
61860,2016-17,S,05,10058.0,9010745.0,Calaveras,Calaveras County Office of Education,Oakendell Community,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538558,2018-19,S,54,71993.0,124776.0,Tulare,Lindsay Unified,Loma Vista Charter,Yes,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
538759,2018-19,S,54,72249.0,107649.0,Tulare,Tulare Joint Union High,Countryside Community Day,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
540104,2018-19,S,54,76794.0,5430285.0,Tulare,Woodlake Unified,Woodlake Community Day,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
540327,2018-19,S,55,10553.0,134569.0,Tuolumne,Tuolumne County Superintendent of Schools,Gold Ridge Educational Center,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
540355,2018-19,S,55,10553.0,5530118.0,Tuolumne,Tuolumne County Superintendent of Schools,Tuolumne County Community/ISP,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
540374,2018-19,S,55,10553.0,5530142.0,Tuolumne,Tuolumne County Superintendent of Schools,Tuolumne County Special Education,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
540396,2018-19,S,55,72389.0,0.0,Tuolumne,Sonora Union High,District Office,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
540579,2018-19,S,55,72413.0,5530050.0,Tuolumne,Summerville Union High,Long Barn High,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
540589,2018-19,S,55,72413.0,5530092.0,Tuolumne,Summerville Union High,South Fork High,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
540605,2018-19,S,55,72413.0,5530100.0,Tuolumne,Summerville Union High,Cold Springs High,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
540621,2018-19,S,55,72413.0,5530175.0,Tuolumne,Summerville Union High,Mountain High,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
541019,2018-19,S,56,10561.0,6069231.0,Ventura,Ventura County Office of Education,Ventura County Special Education,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
541182,2018-19,S,56,72520.0,1.0,Ventura,Ojai Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
541204,2018-19,S,56,72520.0,5630405.0,Ventura,Ojai Unified,Valley Oak Charter,Yes,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
541322,2018-19,S,56,72546.0,1.0,Ventura,Oxnard Union High,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
541332,2018-19,S,56,72546.0,115105.0,Ventura,Oxnard Union High,Camarillo Academy of Progressive Education,Yes,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
541917,2018-19,S,56,72603.0,1.0,Ventura,Simi Valley Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
542198,2018-19,S,56,72652.0,1.0,Ventura,Ventura Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
542479,2018-19,S,56,73759.0,1.0,Ventura,Conejo Valley Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
542750,2018-19,S,56,73874.0,1.0,Ventura,Oak Park Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
543029,2018-19,S,56,76828.0,0.0,Ventura,Santa Paula Unified,District Office,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
543188,2018-19,S,57,10579.0,137422.0,Yolo,Yolo County Office of Education,Yolo County Career Academy,Yes,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
543254,2018-19,S,57,10579.0,6077275.0,Yolo,Yolo County Office of Education,Yolo County Special Education,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
543270,2018-19,S,57,72678.0,1.0,Yolo,Davis Joint Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
543494,2018-19,S,57,72686.0,5730056.0,Yolo,Esparto Unified,Madison Community High,No,Yes,TA,*,*,*,*,*,*,*,*,*,*,*,*
543555,2018-19,S,57,72694.0,1.0,Yolo,Washington Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
543583,2018-19,S,57,72694.0,135939.0,Yolo,Washington Unified,Washington Middle College High,Yes,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
543721,2018-19,S,57,72702.0,0.0,Yolo,Winters Joint Unified,District Office,No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
543817,2018-19,S,57,72710.0,1.0,Yolo,Woodland Joint Unified,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*
544479,2018-19,S,58,72769.0,1.0,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",No,No,TA,*,*,*,*,*,*,*,*,*,*,*,*

In [31]:
#Drop SuppressedTA
GRminusSup = GRminusSur.drop(GRminusSur.loc[(GRminusSur['CohortStudents'] == "*") & (GRminusSur['ReportingCategory'] == "TA") 
                         & (GRminusSur['AggregateLevel'] == "S") & (GRminusSur['CharterSchool'] != "All")
                            & (GRminusSur['DASS'] != "All")].index).reset_index(drop=True)

GRminusSup

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
0,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GF,8039,7114,4439,989,1928,30,2,33,3,48,506,303
1,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GM,8675,7175,3734,599,1567,28,2,57,3,70,836,504
2,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RA,3632,3376,2586,685,1570,9,0,13,0,18,113,103
3,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RB,2091,1563,589,30,112,5,2,17,0,19,291,194
4,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RD,62,35,20,1,4,1,0,0,0,4,15,7
5,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RF,993,934,548,56,278,1,0,7,0,3,29,19
6,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RH,5487,4396,1974,432,448,6,1,27,3,51,640,363
7,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RI,45,33,14,4,4,1,0,0,0,3,5,3
8,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RP,212,170,59,3,22,1,0,1,0,2,27,11
9,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RT,643,585,356,60,175,1,1,1,0,1,36,18
10,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RW,3549,3197,2027,317,882,33,0,24,3,17,186,89
11,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SD,1985,1329,261,19,62,10,0,90,0,16,247,293
12,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SE,2472,1722,558,115,156,1,0,20,0,38,411,280
13,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SF,214,97,13,1,3,0,0,1,0,1,76,39
14,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SH,674,410,100,11,19,0,0,5,0,15,155,89
15,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SM,92,79,29,17,11,0,0,0,0,1,9,3
16,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,SS,9185,7252,3244,507,903,18,3,58,3,84,1071,696
17,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,TA,16714,14289,8173,1588,3495,58,4,90,6,118,1342,807
18,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,GF,7245,6655,4404,987,1924,27,2,33,1,35,320,172
19,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,GM,7458,6539,3708,598,1565,26,0,57,2,45,496,293
20,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RA,3515,3312,2578,685,1569,9,0,13,0,15,83,83
21,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RB,1610,1343,586,30,112,4,1,17,0,15,154,76
22,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RD,51,28,19,1,4,0,0,0,0,4,12,7
23,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RF,936,894,546,56,278,1,0,7,0,2,19,13
24,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RH,4488,3845,1950,430,448,6,1,27,1,30,374,204
25,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RI,41,31,14,4,4,1,0,0,0,2,4,3
26,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RP,177,154,59,3,22,1,0,1,0,1,14,6
27,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RT,581,546,355,59,175,1,0,1,0,0,24,9
28,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,RW,3304,3041,2005,317,877,30,0,24,2,11,132,64
29,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,No,SD,1652,1176,253,19,60,8,0,90,0,10,158,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543127,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RI,298,224,89,8,31,2,0,0,1,0,58,13
543128,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RP,139,120,76,6,28,1,0,0,0,0,13,5
543129,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RT,1737,1455,784,100,306,17,0,3,2,11,207,42
543130,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,RW,11547,9369,4323,319,2109,141,2,19,17,87,1653,259
543131,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SD,4703,3573,1506,44,269,17,0,118,5,49,650,291
543132,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SE,4274,3176,1841,168,284,2,0,43,3,61,745,244
543133,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SF,431,285,133,9,13,0,0,5,0,8,107,26
543134,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SH,1627,1089,420,52,107,7,0,5,1,25,385,115
543135,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SM,102,79,42,10,10,0,0,0,0,1,17,5
543136,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,SS,29885,24916,15262,2363,4645,98,2,104,22,237,3619,887
543137,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,No,TA,41042,34505,21111,2913,7370,245,3,118,36,296,4767,1072
543138,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,GF,13035,3797,468,9,140,35,2,2,96,286,5410,3407
543139,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,GM,12986,2808,237,5,57,52,1,2,104,325,6209,3485
543140,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,GX,*,*,*,*,*,*,*,*,*,*,*,*
543141,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RA,400,115,22,0,7,2,0,0,2,7,170,104
543142,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RB,2588,603,57,0,10,2,1,1,9,36,1231,705
543143,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RD,2062,373,83,0,8,7,0,0,3,65,1457,157
543144,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RF,155,57,12,0,8,0,0,0,2,2,46,48
543145,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RH,15579,3637,365,14,79,18,1,1,122,351,6814,4635
543146,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RI,250,63,4,0,1,2,1,0,1,10,118,55
543147,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RP,93,30,0,0,0,0,0,0,0,0,45,18
543148,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RT,927,273,37,0,10,5,0,0,17,23,361,248
543149,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,RW,3969,1454,125,0,74,51,0,2,44,117,1377,924
543150,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SD,3278,745,25,0,9,12,0,4,24,111,1162,1220
543151,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SE,5920,930,66,1,14,5,1,0,26,121,3413,1424
543152,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SF,1070,267,10,0,2,1,0,0,1,30,458,313
543153,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SH,3627,782,52,0,13,7,0,0,26,89,1732,991
543154,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SM,186,63,1,0,0,0,0,0,1,7,75,40
543155,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SS,21735,5643,552,13,126,55,3,4,164,556,8887,6423
543156,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,TA,26023,6605,705,14,197,87,3,4,200,611,11619,6894

In [32]:
# GRminusSup.loc[(GRminusSup['CohortStudents'] == "*") & (GRminusSup['ReportingCategory'] == "TA") 
#                          & (GRminusSup['AggregateLevel'] == "S") & (GRminusSup['CharterSchool'] != "All")
#                             & (GRminusSup['DASS'] != "All")]

In [33]:
#Replace the wildcard * with null so dtype can be changed to numeric
Replacedstatic = GRminusSup.replace(to_replace = r"*", value=np.nan)

In [34]:
#Replacedstatic.loc[43]

In [35]:
GRminusSup.describe()

        DistrictCode    SchoolCode
count  519404.000000  5.194040e+05
mean    62924.968770  1.525329e+06
std     16859.658939  1.853178e+06
min     10017.000000  0.000000e+00
25%     64287.000000  0.000000e+00
50%     67082.000000  1.339750e+05
75%     70524.000000  3.038023e+06
max     77222.000000  9.010745e+06

In [36]:
#COnvert other columns to Integer given they are calculated fields that we will need for our analysis
Replacedstatic[['CohortStudents', 'Regular HS Diploma Graduates (Count)', "Met UC/CSU Grad Req's (Count)", 'Seal of Biliteracy (Count)',
            'Golden State Seal Merit Diploma (Count)', 'CHSPE Completer (Count)', 'Adult Ed. HS Diploma (Count)', 'SPED Certificate (Count)',
            'GED Completer (Count)', 'Other Transfer (Count)', 'Dropout (Count)', 'Still Enrolled (Count)']] = Replacedstatic[['CohortStudents', 'Regular HS Diploma Graduates (Count)', "Met UC/CSU Grad Req's (Count)", 'Seal of Biliteracy (Count)',
            'Golden State Seal Merit Diploma (Count)', 'CHSPE Completer (Count)', 'Adult Ed. HS Diploma (Count)', 'SPED Certificate (Count)',
            'GED Completer (Count)', 'Other Transfer (Count)', 'Dropout (Count)', 'Still Enrolled (Count)']].apply(pd.to_numeric,  downcast = "signed")
print(Replacedstatic.dtypes)

AcademicYear                                object
AggregateLevel                              object
CountyCode                                  object
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                             float64
Regular HS Diploma Graduates (Count)       float64
Met UC/CSU Grad Req's (Count)              float64
Seal of Biliteracy (Count)                 float64
Golden State Seal Merit Diploma (Count)    float64
CHSPE Completer (Count)                    float64
Adult Ed. HS Diploma (Count)               float64
SPED Certificate (Count)                   float64
GED Completer (Count)                      float64
Other Transfer (Count)                     float64
Dropout (Count)                            float64
Still Enrolled (Count)                     float64
dtype: object

In [37]:
Replacedstatic.describe()

,DistrictCode,SchoolCode,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
count,519404.000000,5.194040e+05,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000,321879.000000
mean,62924.968770,1.525329e+06,295.961476,242.332401,113.656576,25.780011,51.620047,0.753858,0.285999,3.015571,0.308038,4.146437,28.639945,16.479227
std,16859.658939,1.853178e+06,4318.809387,3726.790490,1861.782374,442.835576,857.212442,11.291795,4.823179,46.529071,4.427915,56.602403,374.954729,211.631448
min,10017.000000,0.000000e+00,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,64287.000000,0.000000e+00,25.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,67082.000000,1.339750e+05,57.000000,40.000000,10.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000
75%,70524.000000,3.038023e+06,168.000000,132.000000,56.000000,8.000000,19.000000,0.000000,0.000000,1.000000,0.000000,2.000000,13.000000,7.000000
max,77222.000000,9.010745e+06,504073.000000,418205.000000,210980.000000,48311.000000,100922.000000,1472.000000,456.000000,4149.000000,564.000000,7356.000000,48453.000000,27023.000000

In [38]:
pd.set_option('precision', 0)
Replacedstatic.head(5).append(Replacedstatic.tail(5))

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,Regular HS Diploma Graduates (Count),Met UC/CSU Grad Req's (Count),Seal of Biliteracy (Count),Golden State Seal Merit Diploma (Count),CHSPE Completer (Count),Adult Ed. HS Diploma (Count),SPED Certificate (Count),GED Completer (Count),Other Transfer (Count),Dropout (Count),Still Enrolled (Count)
0,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GF,8039,7114,4439,989,1928,30,2,33,3,48,506,303
1,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GM,8675,7175,3734,599,1567,28,2,57,3,70,836,504
2,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RA,3632,3376,2586,685,1570,9,0,13,0,18,113,103
3,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RB,2091,1563,589,30,112,5,2,17,0,19,291,194
4,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RD,62,35,20,1,4,1,0,0,0,4,15,7
543152,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SF,1070,267,10,0,2,1,0,0,1,30,458,313
543153,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SH,3627,782,52,0,13,7,0,0,26,89,1732,991
543154,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SM,186,63,1,0,0,0,0,0,1,7,75,40
543155,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,SS,21735,5643,552,13,126,55,3,4,164,556,8887,6423
543156,2018-19,T,00,NaN,NaN,State,NaN,NaN,Yes,Yes,TA,26023,6605,705,14,197,87,3,4,200,611,11619,6894

In [39]:
Replacedstatic.columns

Index(['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode',
       'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName',
       'CharterSchool', 'DASS', 'ReportingCategory', 'CohortStudents',
       'Regular HS Diploma Graduates (Count)', 'Met UC/CSU Grad Req's (Count)',
       'Seal of Biliteracy (Count)', 'Golden State Seal Merit Diploma (Count)',
       'CHSPE Completer (Count)', 'Adult Ed. HS Diploma (Count)',
       'SPED Certificate (Count)', 'GED Completer (Count)',
       'Other Transfer (Count)', 'Dropout (Count)', 'Still Enrolled (Count)'],
      dtype='object')

In [40]:
#Rename select column names to make them more readable and error-prone
Replacedstatic.rename(columns={"Regular HS Diploma Graduates (Count)": "RegHSDiplomaGrad", "Met UC/CSU Grad Req's (Count)":"MetUCCSUGradReq",
                              "Seal of Biliteracy (Count)": "SealOfBiliteracy", "Golden State Seal Merit Diploma (Count)": "GSSealMeritDiploma",
                               "CHSPE Completer (Count)": "CHSPEComp", "Adult Ed. HS Diploma (Count)": "AdEdHSDiploma", "SPED Certificate (Count)":"SPEDCert",
                               "GED Completer (Count)": "GEDComp", "Other Transfer (Count)": "OtherTransfer", "Dropout (Count)": "Dropout",
                               "Still Enrolled (Count)": "StillEnrolled"}, inplace=True)
Replacedstatic.columns

Index(['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode',
       'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName',
       'CharterSchool', 'DASS', 'ReportingCategory', 'CohortStudents',
       'RegHSDiplomaGrad', 'MetUCCSUGradReq', 'SealOfBiliteracy',
       'GSSealMeritDiploma', 'CHSPEComp', 'AdEdHSDiploma', 'SPEDCert',
       'GEDComp', 'OtherTransfer', 'Dropout', 'StillEnrolled'],
      dtype='object')

In [41]:
#Change the datatype to ensure they are assigned dtypes that make their values useful

<font color = "blue"> As part of our next steps, </font>
* we need to further explore this dataset to ensure the relevance of all the fields we have. For example, do we want to keep the "DASS" column? If yes, we will need to further exolore what DASS means and it's specific relevance for our usecase. 
* Also, as noted above, submission has been cleaned with major emphasis on being able to report on school level data. The principles applied here can be reevaluated to extract for the other Category levels.
* The null values in District Code/District Name and School Code/School Name have been left as is given their missingness is intentional. We can explore whether to replace them with a specific value for the sake of keeping the technical principle of no missing data. Same applies for rethinking the * that were reset to null.
* Find common columns that can serve as basis for merging this data with the Master Expenses data and proceed with some deeper level of EDA

In [42]:
#A final glance at our cleaned data
Replacedstatic.info()
Replacedstatic.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543157 entries, 0 to 543156
Data columns (total 23 columns):
AcademicYear          543157 non-null object
AggregateLevel        543157 non-null object
CountyCode            543157 non-null object
DistrictCode          519404 non-null float64
SchoolCode            519404 non-null float64
CountyName            543157 non-null object
DistrictName          519404 non-null object
SchoolName            519404 non-null object
CharterSchool         543157 non-null object
DASS                  543157 non-null object
ReportingCategory     543157 non-null object
CohortStudents        321879 non-null float64
RegHSDiplomaGrad      321879 non-null float64
MetUCCSUGradReq       321879 non-null float64
SealOfBiliteracy      321879 non-null float64
GSSealMeritDiploma    321879 non-null float64
CHSPEComp             321879 non-null float64
AdEdHSDiploma         321879 non-null float64
SPEDCert              321879 non-null float64
GEDComp               321879 non-null float64
OtherTransfer         321879 non-null float64
Dropout               321879 non-null float64
StillEnrolled         321879 non-null float64
dtypes: float64(14), object(9)
memory usage: 95.3+ MB

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterSchool,DASS,ReportingCategory,CohortStudents,RegHSDiplomaGrad,MetUCCSUGradReq,SealOfBiliteracy,GSSealMeritDiploma,CHSPEComp,AdEdHSDiploma,SPEDCert,GEDComp,OtherTransfer,Dropout,StillEnrolled
0,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GF,8039,7114,4439,989,1928,30,2,33,3,48,506,303
1,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,GM,8675,7175,3734,599,1567,28,2,57,3,70,836,504
2,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RA,3632,3376,2586,685,1570,9,0,13,0,18,113,103
3,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RB,2091,1563,589,30,112,5,2,17,0,19,291,194
4,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RD,62,35,20,1,4,1,0,0,0,4,15,7
5,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RF,993,934,548,56,278,1,0,7,0,3,29,19
6,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RH,5487,4396,1974,432,448,6,1,27,3,51,640,363
7,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RI,45,33,14,4,4,1,0,0,0,3,5,3
8,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RP,212,170,59,3,22,1,0,1,0,2,27,11
9,2016-17,C,01,NaN,NaN,Alameda,NaN,NaN,All,All,RT,643,585,356,60,175,1,1,1,0,1,36,18

In [43]:
combinedGR.to_csv('combinedGradRateData.csv', index=False)

In [44]:
Replacedstatic.to_csv('ReshapedGradRate.csv', index=False)